<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @follower.name %></h1>
    <p>
      <%= image_tag @user.images.last.imager.feed %>
    </p>
  </body>
</html>